.categories {
  color: black;
  border-color: black;
}

.vote-up {
  transform: rotate(270deg);
}
.vote-down {
  transform: rotate(90deg);
}

.large-dropdown {
  width: 50em;
  padding: 65%;
}

.large-dropdown a {
  color: black !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.large-dropdown ul {
  flex-direction: column;
  width: fit-content;
  float: left;
  padding-left: 3%;
}
#navbar-main,
#topbar-main {
  color: black;
  border-bottom: 1px solid #eae8e4 !important;
}

#topbar-main {
  padding: 10px;
}
.topbar-link {
  padding: 0 !important;
}
.trending-charts:after {
  background-color: #f6f7fb;
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  right: -40px;
  top: 0px;
  bottom: 80px;
  z-index: -1;
}
.billboard-navbar h6 {
  font-size: 12px;
}
.billboard-navbar p {
  font-size: 14px;
  font-weight: 800;
  line-height: 1;
  padding-left: 10px;
}

.logo-brand {
  margin: 0;
  font-family: Brush Script MT;
}

.top-title {
  font-weight: bolder;
  font-family: "Arial Bold";
}

.big-shadow {
  -webkit-box-shadow: -119px 2px 0px -59px rgba(246, 247, 251, 1);
  -moz-box-shadow: -119px 2px 0px -59px rgba(246, 247, 251, 1);
  box-shadow: -119px 2px 0px -59px rgba(246, 247, 251, 1);
}

.topVideo-player {
  width: 100% !important;
  height: 35em !important;
}

.topVideos {
  height: 10em;
  object-fit: cover;
}

.dropdown-chevron {
  display: inline-block;
  font-size: 60%;
  margin-left: 0.5rem;
}

.nav-link-inner--text {
  align-items: center;
  display: flex;
}

.category-menu {
  font-size: 150%;
}

.lg-icon {
  font-size: 1.125rem;
}

.featured-category {
  flex: 0 0 20%;
  max-width: 20% !important;
  color: black;
}
.book-card {
  padding: 0;
  border-right: 1px solid #eae8e4;
}

.featured-container > .book-card {
  flex: 0 0 20%;

  max-width: 20% !important;
}

.book-card-container,
.arb {
  border: 1px solid #eae8e4;
}

.book-card:hover {
  border: 1px solid #161619;
  box-shadow: 0 0 40px 0 rgb(22 22 25 / 10%);
  transition: all 0.2s ease-in-out;
}
.book-card-large:hover {
  /* border: 1px solid #161619; */
  box-shadow: 0 0 40px 0 rgb(22 22 25 / 10%);
  transition: all 1s ease-in-out;
}
.book-card-img {
  height: 183px;
  width: 120px;
  object-fit: cover;
}
.full-width {
  width: 100%;
}
.book-card-author {
  padding: 0;
  margin: 0;
}

.book-card-title {
  color: #161619;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
}
.category-title {
  width: 250px;
  font-weight: 500;
  margin: 0;
}
.category-subtitle {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}
.book-card-price {
  font-size: 1.125rem;
  font-weight: 500 !important;
}
.card-body {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.new-release-ad {
  height: 100%;
}

.bt-3 {
  border-top: 1px solid #80808047;
}
.bb-3 {
  border-bottom: 1px solid #80808047;
}

.newsletter-input {
  border: 1px solid #ccc;
  width: 100%;
  line-height: 1.3;
  height: 3.75rem;
  padding: 0.844rem 2rem;
  border-color: #161619;
  border-radius: 0;
}

.newsletter-submit {
  height: 100%;
}
.footer {
  overflow: hidden;
}
.footer-links {
  display: inline-block;
  padding: 9px 0;
  color: #161619;
  float: left;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  width: 300px;
  font-size: 14px;
}
.footer-links:hover {
  padding-left: 0.75rem;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.slick-next:before {
  content: "\203A" !important;
  color: black !important;
  line-height: 0.5 !important;
}

.slick-prev:before {
  content: "\2039" !important;
  color: black !important;

  line-height: 0.5 !important;
}
.slick-prev {
  z-index: 1 !important;
  width: 2.813rem !important;
  height: 2.813rem !important;
  cursor: pointer !important;
  transition: 0.3s !important;
  border: 1px solid #b6b5 !important;
  border-radius: 0 !important;
  left: -60px !important;
}
.slick-next {
  z-index: 1 !important;
  width: 2.813rem !important;
  height: 2.813rem !important;
  cursor: pointer !important;
  transition: 0.3s !important;
  border: 1px solid #b6b5 !important;
  border-radius: 0 !important;
  right: -60px !important;
}

.slick-arrow:hover {
  background: black !important;
}
.slick-prev:hover:before,
.slick-next:hover:before {
  color: rgba(246, 247, 251, 1) !important;
}

.filter-section {
  flex: 0 0 23.0136985833%;
  max-width: 23.0136985833%;
  margin-right: auto;
}
.filter {
  list-style: none;
  padding: 0;
}
.filter > li {
  display: block;
  padding: 9px 0;
  font-size: 14px;
  color: #161619;
}
.filter > li:hover {
  color: #f75454;
}
.filter-option {
  padding: 9px 0;
  font-size: 14px;
  color: #161619;
}

.select-filter {
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.button-filter {
  padding-bottom: 5px;
  padding: 14px;
  border: 1px solid #eae8e4 !important;
}
.list-option {
  text-align: center;

  font-size: 1.4em;
}
